body {
  font-family: "Arial", sans-serif;
  font-size: 11pt;
  color: #000;
}
/* In word all paragraphs have zero margins unless explicitly specified in a style */
p, h1, h2, h3, h4, h5, h6, div {
  margin: 0;
  padding: 0;
}
/* In word headings only have bold font if explicitly specified */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
/* Setting padding-left to zero breaks rendering of lists, so we only set the other values to zero and leave padding-left for the user-agent */
ul, ol {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}
/* The word hyperlink styling will set text-decoration to underline if needed */
a {
  text-decoration: none;
}
sup.noteref a {
  text-decoration: none;
}
h1.notes-header {
  page-break-before: always;
}
dl.footnote dt {
  font-size: large;
}
dl.footnote dt a {
  text-decoration: none;
}
dl.footnote {
  page-break-after: always;
}
dl.footnote:last-of-type {
  page-break-after: avoid;
}
span.tab {
  white-space: pre;
}
p.index-entry {
  text-indent: 0;
}
p.index-entry a:visited {
  color: blue;
}
p.index-entry a:hover {
  color: red;
}
.block_1 {
  padding-top: 0;
  padding-bottom: 0;
  font-family: serif;
  font-size: 10pt;
  color: black;
}
.block_2 {
  padding-top: 0;
  font-family: "Calibri", serif;
  color: black;
}
.block_3 {
  margin-left: 36pt;
  padding-top: 0;
  padding-bottom: 0;
  text-align: justify;
}
.block_4 {
  padding-top: 0;
  padding-bottom: 0;
}
.block_5 {
  padding-top: 0;
  padding-bottom: 0;
  font-family: serif;
  color: black;
}
.block_6 {
  margin-left: 36pt;
  padding-top: 0;
  padding-bottom: 0;
}
.block_7 {
  padding-top: 0;
  padding-bottom: 0;
  color: black;
}
.block_8 {
  padding-top: 0;
  padding-bottom: 0;
  font-family: serif;
  font-size: 10pt;
  color: black;
  text-align: justify;
}
.block_9 {
  padding-bottom: 0;
  font-family: "Times New Roman", serif;
  font-size: 12pt;
  color: #036;
}
.bullet_1 {
  font-weight: bold;
}
.bullet_2 {
  font-size: 10pt;
  font-weight: bold;
}
.list_1 {
  list-style-type: disc;
}
.text_1 {
  text-decoration: underline;
  color: #00F;
}
.text_2 {
  color: #000;
  font-family: "Arial", sans-serif;
}
.text_3 {
  font-style: italic;
}
.text_4 {
  color: #000;
}
.text_5 {
  font-family: "Calibri", serif;
}
